.admin-side{
    font-size: 30px;
    font-family: 'Montserrat';
    width: 300px;
    padding: 20px;
    text-align: right;
    background-color: #f0f0f0;
    border-right: 3px solid #ccc;
    color: black;
    height: 100vh;
}



.admin-side ul{
    list-style-type: none;
    padding: 0;
}

.admin-wrapper{
    display: flex;
    flex-direction: row;
}

.admin-master{
    height: 100vh;
    width: 100%;
}

.admin-form{
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
}

.form-input{
    margin-top: 20px;
    height: 40px;
    width: 300px;
    border-radius: 30px;
    border: 1px solid black;
    padding: 5px;
    font-size: 15px;
    font-family: "Montserrat";
    transition: all 0.3s ease;
}

.form-input:focus{
    box-shadow: -6px 4px 0px 1px rgba(0,0,0,1);
    font-weight: 500;
    transition: all 0.3s ease;
}

.text-area{
    margin-top: 20px;
    height: 400px;
    width: 700px;
    border-radius: 30px;
    border: 1px solid black;
    padding: 10px;
    font-size: 15px;
    font-family: "Montserrat";
    transition: all 0.3s ease;
}

.text-area:focus{
    box-shadow: -6px 4px 0px 1px rgba(0,0,0,1);
    font-weight: 500;
    transition: all 0.3s ease;
}

.file-submit{
    font-size: 15px;
    font-family: "Montserrat";
    margin-top: 20px;
    margin-bottom: 20px;
}

.active{
    padding: 10px 0px 10px 10px;
    background-color: #e0e0e0;
}

.delete-form{
    font-family: 'Montserrat';
    padding: 10px;
    font-size: 15px;
}

.delete-item{
    padding: 0;
    margin: 0;
}

.delete-form h1{
    font-weight: 500;
    margin-bottom: 10px;
}

.myVideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -3;
    opacity: 0.8;
}